[mysqld_safe]
socket		= /var/run/mysqld/mysqld.sock
nice		= 0

[mysqld]
#
# * Basic Settings
#
user		= mysql
#pid-file = /home/hong.wu/local/mysqld.pid
socket		= /var/run/mysqld/mysqld.sock
port		= 3306
#basedir = /home/hong.wu/local/
datadir		= /var/lib/mysql
tmpdir		= /tmp
# secure_file_priv =
# skip-external-locking
# skip-grant-tables
# performance_schema
#show_compatibility_56 = ON
#
# Instead of skip-networking the default is now to listen only on
# localhost which is more compatible and is not less secure.
bind-address		= 127.0.0.1
sql_mode		= NO_ENGINE_SUBSTITUTION
log_error		= /var/log/mysql/error.log
log_error_verbosity		= 3
slow_query_log_file		= /data2/ruike/mysql/base/mysql-slow.log
log_bin		= /var/lib/mysql/mysql-bin.log
#binlog_do_db		= include_database_name
#binlog_ignore_db		= include_database_name
myisam-recover-options		= BACKUP
max_connections		= 95285
binlog-format		= ROW
server_id		= 406590050
innodb_log_checksums		= OFF
expire_logs_days		= 72
innodb_force_load_corrupted		= OFF
autocommit		= ON
automatic_sp_privileges		= OFF
back_log		= 5196
binlog_cache_size		= 2014506860
binlog_direct_non_transactional_updates		= OFF
binlog_error_action		= IGNORE_ERROR
binlog_format		= ROW
binlog_group_commit_sync_delay		= 834588
binlog_group_commit_sync_no_delay_count		= 22788
binlog_order_commits		= OFF
binlog_row_image		= minimal
binlog_rows_query_log_events		= OFF
binlog_stmt_cache_size		= 148546249
bulk_insert_buffer_size		= 8785801
check_proxy_users		= ON
completion_type		= RELEASE
concurrent_insert		= ALWAYS
connect_timeout		= 23591951
default_week_format		= 2
delay_key_write		= OFF
div_precision_increment		= 21
end_markers_in_json		= OFF
eq_range_index_dive_limit		= 1269202004
explicit_defaults_for_timestamp		= OFF
flush		= OFF
flush_time		= 2
ft_min_word_len		= 8
ft_query_expansion_limit		= 572
general_log		= ON
group_concat_max_len		= 7112016891068261000
host_cache_size		= 13523
innodb_adaptive_flushing		= OFF
innodb_adaptive_flushing_lwm		= 31
innodb_adaptive_hash_index_parts		= 376
innodb_adaptive_max_sleep_delay		= 381111
innodb_api_bk_commit_interval		= 1033146835
innodb_api_disable_rowlock		= ON
innodb_api_enable_binlog		= ON
innodb_api_enable_mdl		= ON
innodb_autoextend_increment		= 27
innodb_buffer_pool_size		= 23245565305
innodb_change_buffer_max_size		= 23
innodb_change_buffering		= changes
innodb_cmp_per_index_enabled		= ON
innodb_commit_concurrency		= 734
innodb_compression_failure_threshold_pct		= 66
innodb_compression_level		= 8
innodb_compression_pad_pct_max		= 24
innodb_concurrency_tickets		= 4217367765
innodb_deadlock_detect		= ON
innodb_default_row_format		= DYNAMIC
innodb_disable_sort_file_cache		= ON
innodb_doublewrite		= OFF
innodb_file_per_table		= OFF
innodb_fill_factor		= 15
innodb_flush_log_at_timeout		= 1088
innodb_flush_log_at_trx_commit		= 1
innodb_flush_neighbors		= 2
innodb_flush_sync		= ON
innodb_flushing_avg_loops		= 273
innodb_ft_cache_size		= 5901092
innodb_ft_enable_diag_print		= OFF
innodb_ft_enable_stopword		= ON
innodb_ft_max_token_size		= 66
innodb_ft_min_token_size		= 1
innodb_ft_num_word_optimize		= 6471
innodb_ft_result_cache_limit		= 2742622078
innodb_ft_sort_pll_degree		= 8
innodb_ft_total_cache_size		= 1082638705
innodb_io_capacity		= 1731038
innodb_io_capacity_max		= 8232
innodb_log_buffer_size		= 3398552057
innodb_log_compressed_pages		= ON
innodb_log_file_size		= 131371539
innodb_log_files_in_group		= 4
innodb_log_write_ahead_size		= 9408
innodb_lru_scan_depth		= 4010
innodb_max_dirty_pages_pct		= 43
innodb_max_dirty_pages_pct_lwm		= 33
innodb_max_purge_lag		= 123710540
innodb_max_purge_lag_delay		= 5728577
innodb_max_undo_log_size		= 16236248606301322000
innodb_old_blocks_time		= 307704964
innodb_online_alter_log_max_size		= 14298425919039272000
innodb_open_files		= 609970
innodb_optimize_fulltext_only		= ON
innodb_page_cleaners		= 7
innodb_print_all_deadlocks		= OFF
innodb_purge_batch_size		= 4042
innodb_purge_rseg_truncate_frequency		= 80
innodb_purge_threads		= 22
innodb_random_read_ahead		= OFF
innodb_read_ahead_threshold		= 40
innodb_read_io_threads		= 11
innodb_replication_delay		= 3110
innodb_rollback_on_timeout		= ON
innodb_rollback_segments		= 89
innodb_sort_buffer_size		= 13735855
innodb_spin_wait_delay		= 4580
innodb_stats_auto_recalc		= ON
innodb_stats_include_delete_marked		= OFF
innodb_stats_method		= nulls_equal
innodb_stats_on_metadata		= ON
innodb_stats_persistent		= ON
innodb_stats_transient_sample_pages		= 27
innodb_strict_mode		= ON
innodb_sync_array_size		= 1003
innodb_sync_spin_loops		= 1963
innodb_table_locks		= ON
innodb_thread_concurrency		= 959
innodb_thread_sleep_delay		= 396601
innodb_undo_log_truncate		= OFF
innodb_use_native_aio		= OFF
innodb_write_io_threads		= 62
join_buffer_size		= 969332007
keep_files_on_create		= ON
key_buffer_size		= 15064504290
key_cache_age_threshold		= 1382
key_cache_block_size		= 6451
key_cache_division_limit		= 10
local_infile		= ON
log_bin_trust_function_creators		= OFF
log_bin_use_v1_row_events		= ON
log_builtin_as_identified_by_password		= ON
log_output		= FILE
log_queries_not_using_indexes		= ON
log_slave_updates		= ON
log_slow_admin_statements		= OFF
log_statements_unsafe_for_binlog		= ON
log_syslog_include_pid		= OFF
log_timestamps		= UTC
long_query_time		= 14
low_priority_updates		= OFF
lower_case_table_names		= 1
master_verify_checksum		= ON
max_allowed_packet		= 310945419
max_binlog_cache_size		= 2868299089285584000
max_binlog_size		= 862141279
max_binlog_stmt_cache_size		= 4562385465375984000
max_delayed_threads		= 5369
max_digest_length		= 455903
max_error_count		= 31029
max_heap_table_size		= 441780627
max_join_size		= 4453943645872944000
max_length_for_sort_data		= 3422262
max_points_in_geometry		= 131962
max_prepared_stmt_count		= 527012
max_seeks_for_key		= 9118168293456920000
max_sort_length		= 3227481
max_user_connections		= 1244644428
max_write_lock_count		= 498070941360855000
multi_range_count		= 2994314753
mysql_native_password_proxy_users		= ON
net_buffer_length		= 777655
net_read_timeout		= 45
net_write_timeout		= 53
ngram_token_size		= 9
offline_mode		= ON
old_alter_table		= ON
old_passwords		= 0
open_files_limit		= 113013
optimizer_prune_level		= 1
optimizer_search_depth		= 35
preload_buffer_size		= 69897062
query_alloc_block_size		= 25629919
query_cache_limit		= 117498348
query_cache_min_res_unit		= 41509
query_cache_size		= 2110997882
query_cache_wlock_invalidate		= ON
query_prealloc_size		= 47377132
range_alloc_block_size		= 12735
read_buffer_size		= 1585282976
read_rnd_buffer_size		= 90706518
require_secure_transport		= ON
session_track_gtids		= ALL_GTIDS
session_track_schema		= ON
session_track_state_change		= OFF
session_track_transaction_info		= OFF
show_compatibility_56		= ON
skip_external_locking		= OFF
skip_name_resolve		= OFF
skip_networking		= OFF
slow_query_log		= ON
sort_buffer_size		= 108417825
stored_program_cache		= 198994
sync_binlog		= 442479314
sync_frm		= ON
table_definition_cache		= 230888
table_open_cache		= 114593
table_open_cache_instances		= 27
thread_cache_size		= 185
tmp_table_size		= 716822493
transaction_alloc_block_size		= 46930
transaction_prealloc_size		= 52584
updatable_views_with_limit		= YES
