[mysqld_safe]
socket		= /var/run/mysqld/mysqld.sock
nice		= 0

[mysqld]
#
# * Basic Settings
#
user		= mysql
#pid-file = /home/hong.wu/local/mysqld.pid
socket		= /var/run/mysqld/mysqld.sock
port		= 3307
#basedir = /home/hong.wu/local/
datadir		= /var/lib/mysql
tmpdir		= /tmp
# secure_file_priv =
# skip-external-locking
# skip-grant-tables
# performance_schema
#show_compatibility_56 = ON
#
# Instead of skip-networking the default is now to listen only on
# localhost which is more compatible and is not less secure.
bind-address		= 127.0.0.1
sql_mode		= NO_ENGINE_SUBSTITUTION
log_error		= /var/log/mysql/error.log
log_error_verbosity		= 3
slow_query_log_file		= /var/log/mysql/base/mysql-slow.log
log_bin		= /var/lib/mysql/mysql-bin.log
#binlog_do_db		= include_database_name
#binlog_ignore_db		= include_database_name
myisam-recover-options		= BACKUP
max_connections		= 95974
binlog-format		= ROW
server_id		= 406590050
innodb_log_checksums		= OFF
expire_logs_days		= 45
innodb_force_load_corrupted		= OFF
autocommit		= OFF
automatic_sp_privileges		= OFF
back_log		= 1011
binlog_cache_size		= 97835567
binlog_direct_non_transactional_updates		= OFF
binlog_error_action		= IGNORE_ERROR
binlog_format		= STATEMENT
binlog_group_commit_sync_delay		= 251374
binlog_group_commit_sync_no_delay_count		= 2558
binlog_order_commits		= ON
binlog_row_image		= minimal
binlog_rows_query_log_events		= ON
binlog_stmt_cache_size		= 697373940
bulk_insert_buffer_size		= 24013349
check_proxy_users		= OFF
completion_type		= CHAIN
concurrent_insert		= NEVER
connect_timeout		= 28653408
default_week_format		= 3
delay_key_write		= OFF
div_precision_increment		= 21
end_markers_in_json		= OFF
eq_range_index_dive_limit		= 1848522218
explicit_defaults_for_timestamp		= ON
flush		= ON
flush_time		= 9
ft_min_word_len		= 2
ft_query_expansion_limit		= 199
general_log		= OFF
group_concat_max_len		= 10892957290187032000
host_cache_size		= 9940
innodb_adaptive_flushing		= ON
innodb_adaptive_flushing_lwm		= 46
innodb_adaptive_hash_index_parts		= 28
innodb_adaptive_max_sleep_delay		= 778675
innodb_api_bk_commit_interval		= 605509277
innodb_api_disable_rowlock		= ON
innodb_api_enable_binlog		= OFF
innodb_api_enable_mdl		= ON
innodb_autoextend_increment		= 957
innodb_buffer_pool_size		= 21025341736
innodb_change_buffer_max_size		= 20
innodb_change_buffering		= all
innodb_cmp_per_index_enabled		= ON
innodb_commit_concurrency		= 245
innodb_compression_failure_threshold_pct		= 72
innodb_compression_level		= 5
innodb_compression_pad_pct_max		= 51
innodb_concurrency_tickets		= 1157229506
innodb_deadlock_detect		= ON
innodb_default_row_format		= DYNAMIC
innodb_disable_sort_file_cache		= ON
innodb_doublewrite		= ON
innodb_file_per_table		= OFF
innodb_fill_factor		= 47
innodb_flush_log_at_timeout		= 42
innodb_flush_log_at_trx_commit		= 1
innodb_flush_neighbors		= 0
innodb_flush_sync		= ON
innodb_flushing_avg_loops		= 260
innodb_ft_cache_size		= 25168652
innodb_ft_enable_diag_print		= ON
innodb_ft_enable_stopword		= OFF
innodb_ft_max_token_size		= 62
innodb_ft_min_token_size		= 11
innodb_ft_num_word_optimize		= 7144
innodb_ft_result_cache_limit		= 1687703490
innodb_ft_sort_pll_degree		= 7
innodb_ft_total_cache_size		= 431554034
innodb_io_capacity		= 313751
innodb_io_capacity_max		= 27734
innodb_log_buffer_size		= 522813078
innodb_log_compressed_pages		= ON
innodb_log_file_size		= 21110115
innodb_log_files_in_group		= 6
innodb_log_write_ahead_size		= 3115
innodb_lru_scan_depth		= 3609
innodb_max_dirty_pages_pct		= 81
innodb_max_dirty_pages_pct_lwm		= 38
innodb_max_purge_lag		= 2619375648
innodb_max_purge_lag_delay		= 5021601
innodb_max_undo_log_size		= 13254568095433320000
innodb_old_blocks_time		= 670723391
innodb_online_alter_log_max_size		= 16979099667702376000
innodb_open_files		= 421808
innodb_optimize_fulltext_only		= OFF
innodb_page_cleaners		= 2
innodb_print_all_deadlocks		= ON
innodb_purge_batch_size		= 749
innodb_purge_rseg_truncate_frequency		= 101
innodb_purge_threads		= 19
innodb_random_read_ahead		= OFF
innodb_read_ahead_threshold		= 45
innodb_read_io_threads		= 15
innodb_replication_delay		= 684
innodb_rollback_on_timeout		= ON
innodb_rollback_segments		= 75
innodb_sort_buffer_size		= 35232716
innodb_spin_wait_delay		= 48
innodb_stats_auto_recalc		= OFF
innodb_stats_include_delete_marked		= OFF
innodb_stats_method		= nulls_ignored
innodb_stats_on_metadata		= OFF
innodb_stats_persistent		= ON
innodb_stats_transient_sample_pages		= 29
innodb_strict_mode		= OFF
innodb_sync_array_size		= 173
innodb_sync_spin_loops		= 2568
innodb_table_locks		= ON
innodb_thread_concurrency		= 193
innodb_thread_sleep_delay		= 328358
innodb_undo_log_truncate		= ON
innodb_use_native_aio		= ON
innodb_write_io_threads		= 35
join_buffer_size		= 399886979
keep_files_on_create		= ON
key_buffer_size		= 12447193223
key_cache_age_threshold		= 9099
key_cache_block_size		= 530
key_cache_division_limit		= 38
local_infile		= ON
log_bin_trust_function_creators		= OFF
log_bin_use_v1_row_events		= OFF
log_builtin_as_identified_by_password		= OFF
log_output		= NONE
log_queries_not_using_indexes		= OFF
log_slave_updates		= OFF
log_slow_admin_statements		= ON
log_statements_unsafe_for_binlog		= ON
log_syslog_include_pid		= ON
log_timestamps		= SYSTEM
long_query_time		= 3
low_priority_updates		= ON
lower_case_table_names		= 0
master_verify_checksum		= ON
max_allowed_packet		= 104212004
max_binlog_cache_size		= 7981170277474270000
max_binlog_size		= 363051756
max_binlog_stmt_cache_size		= 2261925378296134000
max_delayed_threads		= 14524
max_digest_length		= 316721
max_error_count		= 46789
max_heap_table_size		= 657186904
max_join_size		= 7880101576056990000
max_length_for_sort_data		= 2005095
max_points_in_geometry		= 386942
max_prepared_stmt_count		= 620870
max_seeks_for_key		= 6470254785512237000
max_sort_length		= 1802685
max_user_connections		= 500203697
max_write_lock_count		= 16228835548128872000
multi_range_count		= 1891129831
mysql_native_password_proxy_users		= OFF
net_buffer_length		= 494451
net_read_timeout		= 28
net_write_timeout		= 75
ngram_token_size		= 3
offline_mode		= OFF
old_alter_table		= OFF
old_passwords		= 2
open_files_limit		= 471649
optimizer_prune_level		= 0
optimizer_search_depth		= 11
preload_buffer_size		= 845166957
query_alloc_block_size		= 112186234
query_cache_limit		= 73174274
query_cache_min_res_unit		= 36565
query_cache_size		= 1357065704
query_cache_wlock_invalidate		= OFF
query_prealloc_size		= 74249781
range_alloc_block_size		= 61948
read_buffer_size		= 1978145289
read_rnd_buffer_size		= 118663498
require_secure_transport		= OFF
session_track_gtids		= OFF
session_track_schema		= ON
session_track_state_change		= OFF
session_track_transaction_info		= CHARACTERISTICS
show_compatibility_56		= OFF
skip_external_locking		= OFF
skip_name_resolve		= ON
skip_networking		= ON
slow_query_log		= OFF
sort_buffer_size		= 2380407
stored_program_cache		= 510507
sync_binlog		= 2028069395
sync_frm		= ON
table_definition_cache		= 426713
table_open_cache		= 6572
table_open_cache_instances		= 29
thread_cache_size		= 12428
tmp_table_size		= 586418625
transaction_alloc_block_size		= 85747
transaction_prealloc_size		= 68217
updatable_views_with_limit		= YES
