[mysqld_safe]
socket		= /var/run/mysqld/mysqld.sock
nice		= 0

[mysqld]
#
# * Basic Settings
#
user		= mysql
#pid-file = /home/hong.wu/local/mysqld.pid
socket		= /var/run/mysqld/mysqld.sock
port		= 3306
#basedir = /home/hong.wu/local/
datadir		= /var/lib/mysql
tmpdir		= /tmp
# secure_file_priv =
# skip-external-locking
# skip-grant-tables
# performance_schema
#show_compatibility_56 = ON
#
# Instead of skip-networking the default is now to listen only on
# localhost which is more compatible and is not less secure.
bind-address		= 127.0.0.1
sql_mode		= NO_ENGINE_SUBSTITUTION
log_error		= /var/log/mysql/error.log
log_error_verbosity		= 3
slow_query_log_file		= /var/log/mysql/base/mysql-slow.log
log_bin		= /var/lib/mysql/mysql-bin.log
#binlog_do_db		= include_database_name
#binlog_ignore_db		= include_database_name
myisam-recover-options		= BACKUP
max_connections		= 9771
binlog-format		= ROW
server_id		= 406590050
innodb_log_checksums		= OFF
expire_logs_days		= 98
innodb_force_load_corrupted		= OFF
autocommit		= OFF
automatic_sp_privileges		= ON
back_log		= 23047
binlog_cache_size		= 1319374589
binlog_direct_non_transactional_updates		= OFF
binlog_error_action		= IGNORE_ERROR
binlog_format		= ROW
binlog_group_commit_sync_delay		= 627315
binlog_group_commit_sync_no_delay_count		= 84338
binlog_order_commits		= ON
binlog_row_image		= minimal
binlog_rows_query_log_events		= OFF
binlog_stmt_cache_size		= 1748939780
bulk_insert_buffer_size		= 33605613
check_proxy_users		= OFF
completion_type		= CHAIN
concurrent_insert		= ALWAYS
connect_timeout		= 10620773
default_week_format		= 6
delay_key_write		= ALL
div_precision_increment		= 26
end_markers_in_json		= OFF
eq_range_index_dive_limit		= 2561851069
explicit_defaults_for_timestamp		= OFF
flush		= ON
flush_time		= 2
ft_min_word_len		= 7
ft_query_expansion_limit		= 273
general_log		= OFF
group_concat_max_len		= 5034785877609307000
host_cache_size		= 19614
innodb_adaptive_flushing		= OFF
innodb_adaptive_flushing_lwm		= 43
innodb_adaptive_hash_index_parts		= 32
innodb_adaptive_max_sleep_delay		= 386880
innodb_api_bk_commit_interval		= 157437117
innodb_api_disable_rowlock		= OFF
innodb_api_enable_binlog		= ON
innodb_api_enable_mdl		= OFF
innodb_autoextend_increment		= 583
innodb_buffer_pool_size		= 29857236740
innodb_change_buffer_max_size		= 46
innodb_change_buffering		= changes
innodb_cmp_per_index_enabled		= ON
innodb_commit_concurrency		= 923
innodb_compression_failure_threshold_pct		= 78
innodb_compression_level		= 6
innodb_compression_pad_pct_max		= 29
innodb_concurrency_tickets		= 1641766763
innodb_deadlock_detect		= ON
innodb_default_row_format		= REDUNDANT
innodb_disable_sort_file_cache		= OFF
innodb_doublewrite		= ON
innodb_file_per_table		= ON
innodb_fill_factor		= 97
innodb_flush_log_at_timeout		= 1728
innodb_flush_log_at_trx_commit		= 2
innodb_flush_neighbors		= 1
innodb_flush_sync		= ON
innodb_flushing_avg_loops		= 937
innodb_ft_cache_size		= 18652734
innodb_ft_enable_diag_print		= OFF
innodb_ft_enable_stopword		= OFF
innodb_ft_max_token_size		= 59
innodb_ft_min_token_size		= 4
innodb_ft_num_word_optimize		= 8615
innodb_ft_result_cache_limit		= 3195299877
innodb_ft_sort_pll_degree		= 5
innodb_ft_total_cache_size		= 1173027851
innodb_io_capacity		= 1054859
innodb_io_capacity_max		= 37547
innodb_log_buffer_size		= 469762528
innodb_log_compressed_pages		= OFF
innodb_log_file_size		= 642683005
innodb_log_files_in_group		= 4
innodb_log_write_ahead_size		= 4288
innodb_lru_scan_depth		= 2758
innodb_max_dirty_pages_pct		= 50
innodb_max_dirty_pages_pct_lwm		= 88
innodb_max_purge_lag		= 2226518616
innodb_max_purge_lag_delay		= 8413228
innodb_max_undo_log_size		= 2677905102525909000
innodb_old_blocks_time		= 1760220365
innodb_online_alter_log_max_size		= 13878121021764224000
innodb_open_files		= 17446
innodb_optimize_fulltext_only		= ON
innodb_page_cleaners		= 6
innodb_print_all_deadlocks		= ON
innodb_purge_batch_size		= 4707
innodb_purge_rseg_truncate_frequency		= 39
innodb_purge_threads		= 27
innodb_random_read_ahead		= ON
innodb_read_ahead_threshold		= 16
innodb_read_io_threads		= 38
innodb_replication_delay		= 102
innodb_rollback_on_timeout		= OFF
innodb_rollback_segments		= 55
innodb_sort_buffer_size		= 60090962
innodb_spin_wait_delay		= 154
innodb_stats_auto_recalc		= OFF
innodb_stats_include_delete_marked		= ON
innodb_stats_method		= nulls_equal
innodb_stats_on_metadata		= ON
innodb_stats_persistent		= OFF
innodb_stats_transient_sample_pages		= 42
innodb_strict_mode		= OFF
innodb_sync_array_size		= 4
innodb_sync_spin_loops		= 19806
innodb_table_locks		= OFF
innodb_thread_concurrency		= 867
innodb_thread_sleep_delay		= 435546
innodb_undo_log_truncate		= OFF
innodb_use_native_aio		= ON
innodb_write_io_threads		= 59
join_buffer_size		= 540573324
keep_files_on_create		= OFF
key_buffer_size		= 13943502545
key_cache_age_threshold		= 23138
key_cache_block_size		= 12969
key_cache_division_limit		= 82
local_infile		= OFF
log_bin_trust_function_creators		= OFF
log_bin_use_v1_row_events		= OFF
log_builtin_as_identified_by_password		= OFF
log_output		= TABLE
log_queries_not_using_indexes		= ON
log_slave_updates		= OFF
log_slow_admin_statements		= OFF
log_statements_unsafe_for_binlog		= OFF
log_syslog_include_pid		= ON
log_timestamps		= UTC
long_query_time		= 16
low_priority_updates		= OFF
lower_case_table_names		= 2
master_verify_checksum		= ON
max_allowed_packet		= 483217658
max_binlog_cache_size		= 13190384938459758000
max_binlog_size		= 234356654
max_binlog_stmt_cache_size		= 3641655097492102000
max_delayed_threads		= 14170
max_digest_length		= 932809
max_error_count		= 3677
max_heap_table_size		= 1068977662
max_join_size		= 2167799775734210000
max_length_for_sort_data		= 6372279
max_points_in_geometry		= 212322
max_prepared_stmt_count		= 647859
max_seeks_for_key		= 12192304054907970000
max_sort_length		= 3955095
max_user_connections		= 288717859
max_write_lock_count		= 11548749949194550000
multi_range_count		= 4274606485
mysql_native_password_proxy_users		= OFF
net_buffer_length		= 857056
net_read_timeout		= 27
net_write_timeout		= 91
ngram_token_size		= 6
offline_mode		= OFF
old_alter_table		= ON
old_passwords		= 0
open_files_limit		= 651279
optimizer_prune_level		= 1
optimizer_search_depth		= 51
preload_buffer_size		= 171806525
query_alloc_block_size		= 88923221
query_cache_limit		= 42001818
query_cache_min_res_unit		= 20777
query_cache_size		= 1137627096
query_cache_wlock_invalidate		= OFF
query_prealloc_size		= 112439714
range_alloc_block_size		= 47812
read_buffer_size		= 1923732506
read_rnd_buffer_size		= 39787208
require_secure_transport		= OFF
session_track_gtids		= OFF
session_track_schema		= OFF
session_track_state_change		= ON
session_track_transaction_info		= OFF
show_compatibility_56		= ON
skip_external_locking		= ON
skip_name_resolve		= OFF
skip_networking		= OFF
slow_query_log		= ON
sort_buffer_size		= 96785444
stored_program_cache		= 431466
sync_binlog		= 2905946262
sync_frm		= OFF
table_definition_cache		= 452058
table_open_cache		= 63483
table_open_cache_instances		= 34
thread_cache_size		= 5617
tmp_table_size		= 449915806
transaction_alloc_block_size		= 68794
transaction_prealloc_size		= 79502
updatable_views_with_limit		= NO
