[mysqld_safe]
socket		= /var/run/mysqld/mysqld.sock
nice		= 0

[mysqld]
#
# * Basic Settings
#
user		= mysql
#pid-file = /home/hong.wu/local/mysqld.pid
socket		= /var/run/mysqld/mysqld.sock
port		= 3306
#basedir = /home/hong.wu/local/
datadir		= /var/lib/mysql
tmpdir		= /tmp
# secure_file_priv =
# skip-external-locking
# skip-grant-tables
# performance_schema
#show_compatibility_56 = ON
#
# Instead of skip-networking the default is now to listen only on
# localhost which is more compatible and is not less secure.
bind-address		= 127.0.0.1
sql_mode		= NO_ENGINE_SUBSTITUTION
log_error		= /var/log/mysql/error.log
log_error_verbosity		= 3
slow_query_log_file		= /data2/ruike/mysql/base/mysql-slow.log
log_bin		= /var/lib/mysql/mysql-bin.log
#binlog_do_db		= include_database_name
#binlog_ignore_db		= include_database_name
myisam-recover-options		= BACKUP
binlog-format		= ROW
server_id		= 406590050
innodb_log_checksums		= OFF
innodb_force_load_corrupted		= OFF
autocommit		= ON
automatic_sp_privileges		= ON
binlog_direct_non_transactional_updates		= OFF
binlog_error_action		= ABORT_SERVER
binlog_rows_query_log_events		= OFF
check_proxy_users		= OFF
concurrent_insert		= AUTO
end_markers_in_json		= OFF
explicit_defaults_for_timestamp		= OFF
flush		= OFF
innodb_cmp_per_index_enabled		= OFF
innodb_deadlock_detect		= ON
innodb_flush_neighbors		= 1
innodb_ft_enable_diag_print		= OFF
innodb_ft_enable_stopword		= ON
innodb_log_compressed_pages		= ON
innodb_optimize_fulltext_only		= OFF
innodb_stats_method		= nulls_equal
innodb_stats_on_metadata		= OFF
innodb_stats_persistent		= ON
innodb_undo_log_truncate		= OFF
log_bin_use_v1_row_events		= OFF
log_output		= FILE
log_queries_not_using_indexes		= OFF
log_slow_admin_statements		= OFF
log_syslog_include_pid		= ON
log_timestamps		= UTC
net_read_timeout		= 30
offline_mode		= OFF
optimizer_prune_level		= 1
require_secure_transport		= OFF
session_track_schema		= ON
session_track_state_change		= OFF
skip_external_locking		= ON
skip_name_resolve		= OFF
slow_query_log		= OFF
