[mysqld_safe]
socket		= /var/run/mysqld/mysqld.sock
nice		= 0

[mysqld]
#
# * Basic Settings
#
user		= mysql
#pid-file = /home/hong.wu/local/mysqld.pid
socket		= /var/run/mysqld/mysqld.sock
port		= 3306
#basedir = /home/hong.wu/local/
datadir		= /var/lib/mysql
tmpdir		= /tmp
# secure_file_priv =
# skip-external-locking
# skip-grant-tables
# performance_schema
#show_compatibility_56 = ON
#
# Instead of skip-networking the default is now to listen only on
# localhost which is more compatible and is not less secure.
bind-address		= 127.0.0.1
sql_mode		= NO_ENGINE_SUBSTITUTION
log_error		= /var/log/mysql/error.log
log_error_verbosity		= 3
slow_query_log_file		= /data2/ruike/mysql/base/mysql-slow.log
log_bin		= /var/lib/mysql/mysql-bin.log
#binlog_do_db		= include_database_name
#binlog_ignore_db		= include_database_name
myisam-recover-options		= BACKUP
max_connections		= 52392
binlog-format		= ROW
server_id		= 406590050
innodb_log_checksums		= OFF
expire_logs_days		= 18
innodb_force_load_corrupted		= OFF
autocommit		= ON
automatic_sp_privileges		= ON
back_log		= 15393
binlog_cache_size		= 2409056775
binlog_direct_non_transactional_updates		= OFF
binlog_error_action		= ABORT_SERVER
binlog_format		= MIXED
binlog_group_commit_sync_delay		= 201207
binlog_group_commit_sync_no_delay_count		= 40153
binlog_order_commits		= OFF
binlog_row_image		= minimal
binlog_rows_query_log_events		= OFF
binlog_stmt_cache_size		= 2567800175
bulk_insert_buffer_size		= 57232800
check_proxy_users		= OFF
completion_type		= CHAIN
concurrent_insert		= AUTO
connect_timeout		= 15011965
default_week_format		= 5
delay_key_write		= OFF
div_precision_increment		= 16
end_markers_in_json		= OFF
eq_range_index_dive_limit		= 1579075968
explicit_defaults_for_timestamp		= OFF
flush		= OFF
flush_time		= 6
ft_min_word_len		= 6
ft_query_expansion_limit		= 337
general_log		= ON
group_concat_max_len		= 8186756003755331000
host_cache_size		= 59553
innodb_adaptive_flushing		= OFF
innodb_adaptive_flushing_lwm		= 65
innodb_adaptive_hash_index_parts		= 128
innodb_adaptive_max_sleep_delay		= 411717
innodb_api_bk_commit_interval		= 489623905
innodb_api_disable_rowlock		= ON
innodb_api_enable_binlog		= ON
innodb_api_enable_mdl		= ON
innodb_autoextend_increment		= 696
innodb_buffer_pool_size		= 25552627507
innodb_change_buffer_max_size		= 29
innodb_change_buffering		= deletes
innodb_cmp_per_index_enabled		= OFF
innodb_commit_concurrency		= 67
innodb_compression_failure_threshold_pct		= 44
innodb_compression_level		= 2
innodb_compression_pad_pct_max		= 12
innodb_concurrency_tickets		= 3167970560
innodb_deadlock_detect		= ON
innodb_default_row_format		= COMPACT
innodb_disable_sort_file_cache		= ON
innodb_doublewrite		= OFF
innodb_file_per_table		= OFF
innodb_fill_factor		= 52
innodb_flush_log_at_timeout		= 850
innodb_flush_log_at_trx_commit		= 2
innodb_flush_neighbors		= 1
innodb_flush_sync		= OFF
innodb_flushing_avg_loops		= 767
innodb_ft_cache_size		= 38386134
innodb_ft_enable_diag_print		= OFF
innodb_ft_enable_stopword		= ON
innodb_ft_max_token_size		= 26
innodb_ft_min_token_size		= 5
innodb_ft_num_word_optimize		= 4683
innodb_ft_result_cache_limit		= 1785621700
innodb_ft_sort_pll_degree		= 13
innodb_ft_total_cache_size		= 779805714
innodb_io_capacity		= 890214
innodb_io_capacity_max		= 14125
innodb_log_buffer_size		= 1259170901
innodb_log_compressed_pages		= ON
innodb_log_file_size		= 315809340
innodb_log_files_in_group		= 7
innodb_log_write_ahead_size		= 8729
innodb_lru_scan_depth		= 6508
innodb_max_dirty_pages_pct		= 48
innodb_max_dirty_pages_pct_lwm		= 75
innodb_max_purge_lag		= 3445804287
innodb_max_purge_lag_delay		= 1856090
innodb_max_undo_log_size		= 10794412023000298000
innodb_old_blocks_time		= 2164222208
innodb_online_alter_log_max_size		= 6735219954970521000
innodb_open_files		= 409222
innodb_optimize_fulltext_only		= OFF
innodb_page_cleaners		= 3
innodb_print_all_deadlocks		= ON
innodb_purge_batch_size		= 2268
innodb_purge_rseg_truncate_frequency		= 76
innodb_purge_threads		= 24
innodb_random_read_ahead		= ON
innodb_read_ahead_threshold		= 20
innodb_read_io_threads		= 41
innodb_replication_delay		= 6979
innodb_rollback_on_timeout		= ON
innodb_rollback_segments		= 44
innodb_sort_buffer_size		= 22301134
innodb_spin_wait_delay		= 3460
innodb_stats_auto_recalc		= OFF
innodb_stats_include_delete_marked		= ON
innodb_stats_method		= nulls_equal
innodb_stats_on_metadata		= OFF
innodb_stats_persistent		= ON
innodb_stats_transient_sample_pages		= 73
innodb_strict_mode		= OFF
innodb_sync_array_size		= 296
innodb_sync_spin_loops		= 22850
innodb_table_locks		= OFF
innodb_thread_concurrency		= 475
innodb_thread_sleep_delay		= 608185
innodb_undo_log_truncate		= OFF
innodb_use_native_aio		= OFF
innodb_write_io_threads		= 30
join_buffer_size		= 236421652
keep_files_on_create		= ON
key_buffer_size		= 8648480772
key_cache_age_threshold		= 9151
key_cache_block_size		= 9497
key_cache_division_limit		= 55
local_infile		= OFF
log_bin_trust_function_creators		= ON
log_bin_use_v1_row_events		= OFF
log_builtin_as_identified_by_password		= ON
log_output		= FILE
log_queries_not_using_indexes		= OFF
log_slave_updates		= ON
log_slow_admin_statements		= OFF
log_statements_unsafe_for_binlog		= OFF
log_syslog_include_pid		= ON
log_timestamps		= UTC
long_query_time		= 8
low_priority_updates		= ON
lower_case_table_names		= 1
master_verify_checksum		= ON
max_allowed_packet		= 308454010
max_binlog_cache_size		= 7456435960297819000
max_binlog_size		= 749949523
max_binlog_stmt_cache_size		= 12499018386627330000
max_delayed_threads		= 12405
max_digest_length		= 646411
max_error_count		= 58534
max_heap_table_size		= 572596255
max_join_size		= 7010913298967167000
max_length_for_sort_data		= 2779536
max_points_in_geometry		= 520213
max_prepared_stmt_count		= 605190
max_seeks_for_key		= 10772089140158660000
max_sort_length		= 3792707
max_user_connections		= 2716707583
max_write_lock_count		= 8942094422481306000
multi_range_count		= 1742067584
mysql_native_password_proxy_users		= ON
net_buffer_length		= 623112
net_read_timeout		= 30
net_write_timeout		= 72
ngram_token_size		= 6
offline_mode		= OFF
old_alter_table		= ON
old_passwords		= 2
open_files_limit		= 295913
optimizer_prune_level		= 1
optimizer_search_depth		= 41
preload_buffer_size		= 393869384
query_alloc_block_size		= 79630281
query_cache_limit		= 114085352
query_cache_min_res_unit		= 30210
query_cache_size		= 1507618816
query_cache_wlock_invalidate		= ON
query_prealloc_size		= 66626078
range_alloc_block_size		= 54138
read_buffer_size		= 1678680571
read_rnd_buffer_size		= 73908648
require_secure_transport		= OFF
session_track_gtids		= ALL_GTIDS
session_track_schema		= ON
session_track_state_change		= OFF
session_track_transaction_info		= STATE
show_compatibility_56		= ON
skip_external_locking		= ON
skip_name_resolve		= OFF
skip_networking		= ON
slow_query_log		= OFF
sort_buffer_size		= 74158203
stored_program_cache		= 276132
sync_binlog		= 798801024
sync_frm		= OFF
table_definition_cache		= 113968
table_open_cache		= 17198
table_open_cache_instances		= 31
thread_cache_size		= 9082
tmp_table_size		= 668395651
transaction_alloc_block_size		= 28532
transaction_prealloc_size		= 99092
updatable_views_with_limit		= NO
