[mysqld_safe]
socket		= /var/run/mysqld/mysqld.sock
nice		= 0

[mysqld]
#
# * Basic Settings
#
user		= mysql
#pid-file = /home/hong.wu/local/mysqld.pid
socket		= /var/run/mysqld/mysqld.sock
port		= 3306
#basedir = /home/hong.wu/local/
datadir		= /var/lib/mysql
tmpdir		= /tmp
# secure_file_priv =
# skip-external-locking
# skip-grant-tables
# performance_schema
#show_compatibility_56 = ON
#
# Instead of skip-networking the default is now to listen only on
# localhost which is more compatible and is not less secure.
bind-address		= 127.0.0.1
sql_mode		= NO_ENGINE_SUBSTITUTION
log_error		= /var/log/mysql/error.log
log_error_verbosity		= 3
slow_query_log_file		= /data2/ruike/mysql/base/mysql-slow.log
log_bin		= /var/lib/mysql/mysql-bin.log
#binlog_do_db		= include_database_name
#binlog_ignore_db		= include_database_name
myisam-recover-options		= BACKUP
max_connections		= 45854
binlog-format		= ROW
server_id		= 406590050
innodb_log_checksums		= OFF
expire_logs_days		= 8
innodb_force_load_corrupted		= OFF
autocommit		= OFF
automatic_sp_privileges		= OFF
back_log		= 23741
binlog_cache_size		= 3800705669
binlog_direct_non_transactional_updates		= ON
binlog_error_action		= ABORT_SERVER
binlog_format		= STATEMENT
binlog_group_commit_sync_delay		= 421604
binlog_group_commit_sync_no_delay_count		= 47341
binlog_order_commits		= OFF
binlog_row_image		= noblob
binlog_rows_query_log_events		= ON
binlog_stmt_cache_size		= 2292265929
bulk_insert_buffer_size		= 24957499
check_proxy_users		= ON
completion_type		= RELEASE
concurrent_insert		= ALWAYS
connect_timeout		= 6265895
default_week_format		= 1
delay_key_write		= ALL
div_precision_increment		= 14
end_markers_in_json		= OFF
eq_range_index_dive_limit		= 2774049933
explicit_defaults_for_timestamp		= OFF
flush		= ON
flush_time		= 3
ft_min_word_len		= 3
ft_query_expansion_limit		= 956
general_log		= OFF
group_concat_max_len		= 13539030327580958000
host_cache_size		= 21502
innodb_adaptive_flushing		= ON
innodb_adaptive_flushing_lwm		= 32
innodb_adaptive_hash_index_parts		= 247
innodb_adaptive_max_sleep_delay		= 828814
innodb_api_bk_commit_interval		= 291223710
innodb_api_disable_rowlock		= OFF
innodb_api_enable_binlog		= OFF
innodb_api_enable_mdl		= OFF
innodb_autoextend_increment		= 2
innodb_buffer_pool_size		= 32492102699
innodb_change_buffer_max_size		= 9
innodb_change_buffering		= none
innodb_cmp_per_index_enabled		= OFF
innodb_commit_concurrency		= 652
innodb_compression_failure_threshold_pct		= 33
innodb_compression_level		= 4
innodb_compression_pad_pct_max		= 72
innodb_concurrency_tickets		= 975530787
innodb_deadlock_detect		= OFF
innodb_default_row_format		= REDUNDANT
innodb_disable_sort_file_cache		= ON
innodb_doublewrite		= ON
innodb_file_per_table		= OFF
innodb_fill_factor		= 13
innodb_flush_log_at_timeout		= 501
innodb_flush_log_at_trx_commit		= 1
innodb_flush_neighbors		= 1
innodb_flush_sync		= OFF
innodb_flushing_avg_loops		= 596
innodb_ft_cache_size		= 15089308
innodb_ft_enable_diag_print		= OFF
innodb_ft_enable_stopword		= OFF
innodb_ft_max_token_size		= 33
innodb_ft_min_token_size		= 5
innodb_ft_num_word_optimize		= 1528
innodb_ft_result_cache_limit		= 1681855996
innodb_ft_sort_pll_degree		= 6
innodb_ft_total_cache_size		= 1584128408
innodb_io_capacity		= 516697
innodb_io_capacity_max		= 39551
innodb_log_buffer_size		= 1062996963
innodb_log_compressed_pages		= ON
innodb_log_file_size		= 559242770
innodb_log_files_in_group		= 5
innodb_log_write_ahead_size		= 11066
innodb_lru_scan_depth		= 1635
innodb_max_dirty_pages_pct		= 5
innodb_max_dirty_pages_pct_lwm		= 24
innodb_max_purge_lag		= 2067955526
innodb_max_purge_lag_delay		= 6814922
innodb_max_undo_log_size		= 7981045782662921000
innodb_old_blocks_time		= 2878728170
innodb_online_alter_log_max_size		= 13649020340338366000
innodb_open_files		= 263513
innodb_optimize_fulltext_only		= ON
innodb_page_cleaners		= 3
innodb_print_all_deadlocks		= ON
innodb_purge_batch_size		= 4380
innodb_purge_rseg_truncate_frequency		= 6
innodb_purge_threads		= 21
innodb_random_read_ahead		= OFF
innodb_read_ahead_threshold		= 16
innodb_read_io_threads		= 25
innodb_replication_delay		= 4187
innodb_rollback_on_timeout		= ON
innodb_rollback_segments		= 2
innodb_sort_buffer_size		= 14275504
innodb_spin_wait_delay		= 5125
innodb_stats_auto_recalc		= ON
innodb_stats_include_delete_marked		= OFF
innodb_stats_method		= nulls_equal
innodb_stats_on_metadata		= OFF
innodb_stats_persistent		= ON
innodb_stats_transient_sample_pages		= 7
innodb_strict_mode		= OFF
innodb_sync_array_size		= 997
innodb_sync_spin_loops		= 16551
innodb_table_locks		= OFF
innodb_thread_concurrency		= 930
innodb_thread_sleep_delay		= 750731
innodb_undo_log_truncate		= OFF
innodb_use_native_aio		= OFF
innodb_write_io_threads		= 30
join_buffer_size		= 62900136
keep_files_on_create		= ON
key_buffer_size		= 374998746
key_cache_age_threshold		= 10699
key_cache_block_size		= 10441
key_cache_division_limit		= 88
local_infile		= OFF
log_bin_trust_function_creators		= ON
log_bin_use_v1_row_events		= OFF
log_builtin_as_identified_by_password		= OFF
log_output		= FILE
log_queries_not_using_indexes		= OFF
log_slave_updates		= OFF
log_slow_admin_statements		= ON
log_statements_unsafe_for_binlog		= ON
log_syslog_include_pid		= OFF
log_timestamps		= SYSTEM
long_query_time		= 18
low_priority_updates		= OFF
lower_case_table_names		= 1
master_verify_checksum		= ON
max_allowed_packet		= 390059248
max_binlog_cache_size		= 4397402427651212000
max_binlog_size		= 550847680
max_binlog_stmt_cache_size		= 5687057781086267000
max_delayed_threads		= 9394
max_digest_length		= 744093
max_error_count		= 4194
max_heap_table_size		= 565071305
max_join_size		= 8319800547494947000
max_length_for_sort_data		= 936418
max_points_in_geometry		= 922526
max_prepared_stmt_count		= 194365
max_seeks_for_key		= 15160112113446226000
max_sort_length		= 328161
max_user_connections		= 1212642240
max_write_lock_count		= 17340409357072080000
multi_range_count		= 2540945148
mysql_native_password_proxy_users		= ON
net_buffer_length		= 720123
net_read_timeout		= 45
net_write_timeout		= 32
ngram_token_size		= 4
offline_mode		= ON
old_alter_table		= ON
old_passwords		= 2
open_files_limit		= 88726
optimizer_prune_level		= 0
optimizer_search_depth		= 26
preload_buffer_size		= 507591672
query_alloc_block_size		= 56547176
query_cache_limit		= 46374602
query_cache_min_res_unit		= 64671
query_cache_size		= 1083237876
query_cache_wlock_invalidate		= ON
query_prealloc_size		= 125558997
range_alloc_block_size		= 36396
read_buffer_size		= 1305296891
read_rnd_buffer_size		= 49021873
require_secure_transport		= ON
session_track_gtids		= OFF
session_track_schema		= ON
session_track_state_change		= OFF
session_track_transaction_info		= CHARACTERISTICS
show_compatibility_56		= ON
skip_external_locking		= OFF
skip_name_resolve		= OFF
skip_networking		= ON
slow_query_log		= ON
sort_buffer_size		= 4532004
stored_program_cache		= 253499
sync_binlog		= 1001677553
sync_frm		= ON
table_definition_cache		= 297220
table_open_cache		= 14861
table_open_cache_instances		= 60
thread_cache_size		= 7113
tmp_table_size		= 541528841
transaction_alloc_block_size		= 8098
transaction_prealloc_size		= 114158
updatable_views_with_limit		= NO
